*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body	{
	font-family: 'Franklin Gothic Heavy';}
	
	a{
	text-decoration: none;}

	ul{
	list-style: none;}

.title	{width: 100%;
	background: #005883;
	height: 60px;
	display: flex;
	justify-content: center;}

.title h1{color: #FFFFFF;
	font-size: 40px;
	text-align: center;}

.navegacion{
	width: 100%;
	margin: 0px auto;
	background: #F47920;
	display: flex;}

.navegacion ul{
	list-style: none;
	justify-content: center;}

.menus > li{
	position: relative;
	display: inline-block;
}

.menus > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menus li a:hover{
	color: #CE7D35;
	transition: all .3s;
}


secciones{width: 10%
	background: #B3B3B3;}

secciones article{
	padding: 30px}

secciones article p{
	text-align: justify;
	color: #333333;
	width:900px;}

aside{	width:300px;
	margin-top: 10px;
	}

img{float: left;}

/* Submenu*/


.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}


.menus li:hover .submenu{
	visibility: visible;
	opacity: 1;
}